@import "tailwindcss";

@theme inline {
  --font-noto-sans-jp: var(--font-noto-sans-jp);
  --font-oswald: var(--font-oswald);
}

@theme {
  --color-border-primary: #1ca1b6;
  --color-border-gray: #d0d0d0;
  --color-border-light-gray: #e3e3e3;
  --color-border-dark-gray: #9e9e9e;
}

:root {
  --h-header: 48px
}

@utility h-header {
  height: var(--h-header);
}

@utility bg-primary {
  background-color: #0192a8;
}
@utility bg-hover-primary {
  background-color: #1ca1b6
}
@utility bg-light-primary {
  background-color: #4dbdce;
}
@utility bg-hover-gray {
  background-color: #ebebeb;
}
@utility bg-active-gray {
  background-color: #dbdbdb;
}
@utility text-black-primary {
  color: #404040
}
@utility text-white-primary {
  color: #f0f0f0;
}
@utility text-primary {
  color: #1ca1b6
}
@utility text-disabled-gray {
  color: #555055;
}
@utility text-error {
  color: #f54c36
}
